/*
Theme Name: HarmonUX Core
Theme URI: http://netbiel.pl/harmonux-core/
Author: Peter Bielecki
Author URI: http://netbiel.pl
Description: HarmonUX Core was design according to the idea of modern blog with SEO and UX optimization. Clean design provide a harmony experience, all easily tuned to fit Your content perfectly. Powerful Theme Customizer allows you to change many aspects in theme to adapt it to Your needs. Upload logo, change colors, modify all settings and see the preview in real-time before you save. HarmonUX Core is based on Zurb Foundation front end framework.
Version: 1.3.1
License:
License URI:
Tags:  flexible-header, full-width-template,  post-formats,  theme-options, translation-ready,  responsive-layout, light
Text Domain: harmonux


/* --------------------------------------------------
   Table of Contents
-----------------------------------------------------
:: Global Reset & Standards
:: General classes
:: Accessibility - WAI
:: Wordpress Styles
:: STRUCTURE
:: SECTIONS
:: - Header
:: - Navigation
:: - Content
:: -- Post Header
:: -- Meta
:: -- Images
:: -- Single article
:: -- Archives
:: -- Post Footer
:: --- Post/Paging Navigation
:: --- Author Bio
:: --- Related Posts
:: -- Post Formats
:: - Comments
:: - Sidebar
:: -- Widgets
:: -- Pro Widgets
:: - Footer
:: -- Widgets Footer
:: PAGES
:: Media QUERY MOD
:: IE MOD
::Fix for Google  Maps MOD
*/

/* -----------------------------------------
   Global Reset & Standards
----------------------------------------- */

/*  Reset CSS based on http://meyerweb.com/eric/tools/css/reset/
-------------------------------------------------------------- */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
	font-size: 100%;
	margin: 0;
	padding: 0;
	vertical-align: baseline;
}

/* Typography */

html {
	height: 100%;
	font-size: 100%;
}

body {

	text-rendering: auto !important;
	color: #444;

}

body * {
	text-rendering: auto !important;

}

h1, h2, h3, h4, h5, h6 {

	color: #404040;
	margin: 0.55em 0;
	line-height: 1em;
	word-wrap: break-word;
	font-weight: normal;
}
h1{
	
	font-size: 3em;
}
h2 {

	font-size: 2.938em;
}

h3 {
	font-size: 1.563em;
}

h4 {
	font-size: 1.250em;
}

h5 {
	font-size: 1.125em;
}

h6 {
	font-size: 1.063em;
}

a {
	outline: none;
	color: #2C3E51;
}

a:hover {
	color: #067670;
	text-decoration: underline;
	-webkit-transition: color 0.45s ease-in-out;
	-moz-transition: color 0.45s ease-in-out;
	-o-transition: color 0.45s ease-in-out;
	transition: color 0.45s ease-in-out;
}

a:focus {
	color: #0f3647;
}

h2 a {
	color: #34496E;
}

h2 a:hover {
	text-decoration: none;
	color: #2C3E51;
}

h4 a:hover {
	color: #2C3E51;
	text-decoration: none;
}

p {
	word-wrap: break-word;
	margin: 0 0 1.5em;
}

hr, dl, pre, form, table, address, blockquote {
	margin: 1.5em 0;
}

time {
	font-size: 0.750em;
}

cite {
	font-style: italic;
}

code {
	font-family: monospace, serif;
}

sup,
sub,
small {
	font-size: 0.8em;
}

sup {
	vertical-align: super;
}

sub {
	vertical-align: sub;
}

abbr,
acronym {
	font-size: 85%;
	letter-spacing: .1em;
	text-transform: uppercase;
}

article img, #sidebar img {

}

blockquote, q {
	quotes: none;
	padding: 0 1em;
}

blockquote:before, blockquote:after, q:before, q:after {
	content: '';
	content: none;
}

pre {
	background: #F2F2F2;
	padding: 0.8em;
	border: 1px solid #D8D8D8;
	white-space: pre-wrap;
}

/*video & audio*/
audio,
canvas,
video {
	display: inline-block;
}

audio:not([controls]) {
	display: none;
}

embed,
iframe,
object,
video {
	max-width: 100%;
}
/*RESET FOUNDATION*/
.vcard{
	border: none;
}
.large-block-grid-2 > li{
	padding-left: 15px;
	padding-right: 15px;
}
[class*="block-grid-"]{
	margin-left: -15px;
	margin-right: -15px;
}
/*EXTEND FOUNDATION*/
.smartlib-column-padding-left-30{
	padding-left: 30px;
}
/*general menu*/
.harmonux-menu{
	list-style: none;
}
.harmonux-menu ul{
	margin: 0;
	padding: 0;
	float: left;
}
.harmonux-menu li{
	background: none;
}
.harmonux-menu li:hover{
	background: none;
}
.harmonux-menu a{
	display: block;
}
/*form*/
input[type="submit"] {
	background:  #5bd2a0;
	color: #fff;
	border: none;
	width: auto;
	cursor: pointer;
	font-family: inherit;
	font-size: 0.813em;
	font-weight: bold;
	line-height: 1;
	margin: 0 0 0 2px;
	padding: 3px 20px;
	position: relative;
	text-align: center;
	text-decoration: none;
  height: 2.5em;
	box-shadow: 0 -1px 0 0 rgba(0, 0, 0, 0.25) inset !important
}

input[type="submit"]:hover {
	background: #3fb4ab;
}

input[type="text"],input[type="email"], textarea{

	border: none;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
	border-radius:0;
	-moz-border-radius:0;
	-webkit-border-radius:0;
	padding: 6px 3px;
	font-size: 0.813em;
	line-height: 1.4;
	height: 2.5em;
	border-bottom: 1px solid #EBEFF1;
	background: #f5f9fb;
}
textarea{
	height: auto;
}
input[type="text"]:focus,input[type="email"]:focus, textarea:focus{
	box-shadow: none;
	background-color: #eefff6;
}
/*tables*/

table {
	border: 1px solid #D8D8D8;
	width: 100%;
	border-radius: 0;
}

table th {
	background: #f1f0f0;
}

th, td {
	padding: 0.7em;
}

/*lists*/
ul {
	list-style-type: disc;
	margin: 0;
	padding: 0;
}

ol {
	line-height: 22px;
	margin: 0;
	padding: 0;
}

dt {
	font-weight: bold;
	margin-bottom: 0.5em;
	margin-top: 0.8em;
}

/* RESET FOUNDATION*/
.top-bar input, .top-bar .button{
	top: 0;
}

.top-bar .row{
	max-width: 100%;
}
.row{
	width: 1280px;
	max-width: 100%;
}
.vcard{
	padding: 0px;
}
/* -----------------------------------------
 Accessibility - WAI
----------------------------------------- */
.harmonux-wai-info{
	text-indent: -3000px;
	font-size: 0;
	display: none;
}

.harmonux-skip-link{

}
/* -----------------------------------------
 Wordpress Styles
----------------------------------------- */

/* Images */
.alignleft {
	float: left;
	margin: 10px 10px 10px 0px;
}

.alignright {
	float: right;
	margin: 10px 0px 10px 10px;
}

.aligncenter {
	display: block;
	margin: 10px auto;
}

.alignnone {
	margin: 10px auto;

}

caption {
	padding: 4px 0px;
}

.wp-caption {
	max-width: 100%;
}
.wp-caption-text {
	font-size: 0.750em;
}
/*Gallery*/
div.gallery {
	clear: both;
}

.gallery-item {
	margin: 0;
}

.gallery-item a,
.gallery-caption {
	width: 95%;
}

.gallery-item a {
	display: block;
}

.gallery-caption a {
	display: inline;
}

.gallery-columns-1 .gallery-item a {
	max-width: 100%;
	width: auto;
}

.gallery-icon {
	margin: 0;
}

.gallery .gallery-icon img {
	height: auto;
	max-width: 95%;
	padding: 4px;
	border-width: 1px !important;
	border-color: #555;
}

.gallery .gallery-icon a:hover {
	opacity: 0.8;

}

.gallery-columns-1 .gallery-icon img {
	padding: 4px;
}

/* Assistive text */
.assistive-text,
.site .screen-reader-text {
	position: absolute !important;
	clip: rect(1px, 1px, 1px, 1px);
}

nav.assistive-text:hover,
nav .assistive-text:active,
nav .assistive-text:focus {
	background: #fff;
	border: 2px solid #333;
	border-radius: 3px;
	clip: auto !important;
	color: #000;
	display: block;
	font-size: 12px;
	padding: 12px;
	position: absolute;
	top: 5px;
	left: 5px;
	z-index: 100000; /* Above WP toolbar */
}

.avatar {
	margin: 0 15px 15px 0;
	float: left;
}

/*reset foundation*/
body,
div,
dl,
dt,
dd,
ul,
ol,
li,
pre,
form,
p,
blockquote,
th,
td {
	font-size: 1em;
}

/* -----------------------------------------
 STRUCTURE
----------------------------------------- */
body {
	height: 100%;
}

#wrapper {
	min-height: 70%;
}
#top-navigation {

	width: 85%;
}

#page {
	position: relative;
	z-index: 2;
	height: 100%;
	min-height: 100%;
	background: #fff;
	padding-bottom: 40px;
}

#sidebar {
	position: relative;
	z-index: 0;
	padding-top: 40px;
  background: #fff;
}
.home #sidebar{
	padding-top: 46px;
}
#main-footer {
	min-height: 30%;
	background: #34495f;
	color: #f8f8f8;
	overflow: hidden;
	line-height: 1.3;
	position: relative;
	z-index: 4;

}

#footer-bottom {
	width: 100%;
	background: #2f4053;
	padding: 20px 0px;

}

/* -----------------------------------------
  GENERAL CLASSES
----------------------------------------- */
/*tab menu*/
.tabs dd a,
.tabs li a {
	color: #6f6f6f;
	display: block;
	font-size: 13px;
	height: 40px;
	line-height: 40px;
	padding: 0px 23.8px;
}

.tabs dd a:focus,
.tabs li a:focus {
	font-weight: normal;
	color: #6f6f6f;
}

td.label {

	background: none;
	color: inherit;
	font-size: inherit;
	padding: 9px 10px;
	display: table-cell;
	text-align: left;
	width: auto;
	white-space: normal;
}

/*icons labels*/

.icon-left {
	margin-right: 7px;

}

.icon-right {
	margin-left: 7px;

}

.row.loop, .row.loop-2columns {
	margin: 0px;
}

/*buttons*/
.has-tip.button {
	cursor: pointer;
	border: none;
}

.button, .smartlib-single-next-prev a, .smartlib-next-prev a {
	background:  #5bd2a0;
	color: white;
	cursor: pointer;
	display: inline-block;
	font-family: inherit;
	font-size: 0.813em;
	font-weight: bold;
	line-height: 1;
	margin: 0;
	padding: 10px 20px 11px;
	position: relative;
	text-align: center;
	text-decoration: none;
	-webkit-transition: background-color 0.15s ease-in-out;
	-moz-transition: background-color 0.15s ease-in-out;
	-o-transition: background-color 0.15s ease-in-out;
	transition: background-color 0.15s ease-in-out;
	border-radius: 3px;
	box-shadow: 0 -1px 0 0 rgba(0, 0, 0, 0.25) inset !important
}


.button:hover,
.button:focus,
.smartlib-single-next-prev a:hover, .smartlib-next-prev a:hover{
	color: #fff;
	background: #3FB4AA;
}

.button.small {
	font-size: 13px;
}

.button.small:hover {
	color: #fff;
}

.button.red-button {
	background: #A10518;;
}

.more-link {
	display: block;
	float: right;
	background: #5bd2a0;
	color: #fff;
	padding: 4px 11px;
	clear: both;
	font-size: 12px;
	text-transform: uppercase;
	border-radius: 3px;
	box-shadow: 0 -1px 0 0 rgba(0, 0, 0, 0.25) inset !important
}
.more-link i{
	font-size: 15px;
	padding: 0 0 0 10px
}

.more-link:hover {
	background: #2C3E51;
	text-decoration: none;
	color: #fff;
	-webkit-transition: background 0.4s linear;
	-moz-transition: background 0.4s linear;
	-o-transition: background 0.4s linear;
	transition: background 0.4s linear;
}

.more-link:visited {
	color: #fff !important;
}



/*square button - comments link*/
.square-button {
	padding: 5px 15px;
}

.square-button i {
	margin: 0;
}

/*labels*/
.secondary.label {
	white-space: normal;
}

.secondary.label a {
	font-weight: normal;
	font-size: 13px;
}

/*meta labels*/
.meta-publisher {
	margin: 0;
	font-size: 0.9em;
}

.meta-publisher a {
	font-weight: bold;
}

.date-meta-column {
	text-align: right;
}

/*blockquote*/
blockquote {
	background: #d4e3df;
	border: none;
	border-left: 4px solid #9ea7ae;
	margin: 20px;
	overflow: auto;
	padding: 0 10px 10px 45px;
	position: relative;
}

blockquote:before {
	content: "\f10d";
	font-size: 30px;
	font-family: FontAwesome;
	display: inline-block;
	position: absolute;
	top: 20px;
	left: 8px;
	color: #9ea7ae;
}

blockquote p {
	font-style: italic;
	font-size: 17px;
	margin: 1.5em 0;
	float: left;
	clear: none;
}

/* -----------------------------------------
   SECTIONS
----------------------------------------- */

/*-SECTIONS: HEADER-*/

/*to bar*/
.top-bar-outer {
	background: #2C3E51;
	-webkit-transition: height 0.3s;
	-moz-transition: height 0.3s;
	transition: height 0.3s;
	min-height: 80px;
}


.top-bar {
	background: #2C3E51;
	margin: 0;
	overflow: visible;
	height: auto !important;
	position: relative;
	z-index: 3;

}

.smartlib-smaller-topbar {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	top: 0;
	z-index: 2000;
	min-height: 30px;
}
.admin-bar .smartlib-smaller-topbar{
	top: 30px;
}
.smartlib-smaller-topbar .smartlib-logo-header{
	height: 40px;
	font-size: 22px;
	line-height: 22px;

}
.smartlib-smaller-topbar .smartlib-logo-header a{
	font-size: 22px;
	padding-top: 10px;
	height: 45px;
  min-height: 45px;
}
.smartlib-smaller-topbar .harmonux-top-menu{
	margin-top: 0;
}
.smartlib-smaller-topbar #top-switches{
	margin-top: 0;
}
.smartlib-smaller-topbar .harmonux-top-menu li ul{
	padding-top: 0;
}
.top-bar > .row {
	background: #2C3E51;
}

.top-bar.expanded {
	height: 110px;
	overflow: hidden;
}

.top-bar ul>li a:hover {
	text-decoration: none;
}

.top-bar ul a {

}
.toggle-button,
.toggle-button:hover
{
	background: none;
	box-shadow: none!important;
}
.toggle-button span {
	padding-right: 10px;
	width: 50px;
	float: left;
	display: block;
	font-size: 1.250em;
	line-height: 0.9;
	border-left: 1px solid #fff;
}

.toggle-button.active-toggle {
	color: #fff;
}




/*site logo*/
.smartlib-logo-header{
	margin: 0;

}
.smartlib-site-logo {
	width: 100%;
	color: #fff;
	display: block;
	overflow: hidden;
	font-size: 28px;
	font-weight: bold;
	padding-top: 15px;
  min-height: 80px;
	margin-left: -15px;
	padding-left: 15px;
	line-height: 40px;
}
.smartlib-smaller-topbar .smartlib-site-logo{
	line-height: 20px;
}
.smartlib-site-logo:hover {
	background: #5bd2a0;
	color: #fff;
	text-decoration: none;
}

.smartlib-site-logo img {
	max-width: 100%;


}
.smartlib-site-logo.image-logo {
	background: none;
	padding: 0;
	vertical-align: middle;
	height: 80px;
	position: relative;
	margin-left: 0;
}

.smartlib-site-logo.image-logo img {
	max-height: 100%;
	width: auto;
	transition: all 0.3s ease-out;
	vertical-align: middle;
	display: inline-block;
	position: absolute;
	margin: auto;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
}

.smartlib-smaller-topbar .smartlib-site-logo.image-logo{
    padding:  0;
}
/*top search*/

#search-input, #s {
	width: 70%;
	float: left;
}


#toggle-search {
	width: 100%;
}

#toggle-search form {

	max-width: 40%;
	margin: 15px auto 5px auto;

}

/*top switch*/
#top-switches {
	float: right;
	margin-top: 20px;
}

#top-switches li {
	float: left;
	height: 45px;
}

#top-switches li a {
	border: none;
	box-shadow: none;
	outline: none;
	height: 45px;
	display: block;
	padding-top: 15px;
}

/* front page header */

.frontpage-header{
	margin-bottom: 30px;
}
.header-image {
	margin-bottom: 10px;
    margin-top: 40px;
}

.header-banner {
	width: 98%;
	height: 100px;
	margin-bottom: 20px;
	text-align: center;
}

/*expand area - toggle switch*/
.smartlib-toggle-area {
	display: none;
}

.smartlib-toggle-area.show-container {
	display: block;
}
.smartlib-toggle-area #smartlib-top-search-container{
	display: none;
}
.smartlib-toggle-area input[type="submit"]{
	float: right;
	clear: none;
	width: auto;
	background: #5bd2a0;
}
.smartlib-toggle-area input[type="submit"]:hover{
	background: #3fb4ab;
}
/*homepage header*/
.site-title {
	margin-top: 0;
}

/* Breadcrumb */
.smartlib-breadcrumb {

	margin: 30px 5px 10px 5px;
	font-size: 0.750em;
	padding: 10px 0px;
	border-bottom: 1px solid #EBEFF1
}
.home .smartlib-breadcrumb{
	border: none;
}
/*SECTIONS: NAVIGATION*/

/*left menu & widget menu*/
.main-navigation,
.widget_nav_menu div{
	overflow: hidden;
	background: #dde9e6;
	max-width: 100%;
	padding: 7px;
	margin-bottom: 40px;
}
.main-navigation ul,
.widget_nav_menu ul{
	list-style: none;
  max-width: 100%;
}
.main-navigation li,
.widget_nav_menu li{
	text-transform: uppercase;
	max-width: 100%;
}
.main-navigation li a,
.widget_nav_menu li a{
	font-size: 15px;

	color: #34496E;
	box-shadow: none;
	border-bottom: 1px solid #2C3E51;
	padding: 11px 20px 11px 25px;
	font-weight: 700;
	position: relative;
	display: block;
	height: auto;

}

.main-navigation ul > li a:before,
.widget_nav_menu ul > li a:before{
	font-family: FontAwesome;
	content: "\f138";
	display: inline-block;
	color: #2C3E51;
	font-weight: normal;
	font-size: 19px;
	position: absolute;
	top: 9px;
	left: 0px;

}
.main-navigation li:last-child a,
.widget_nav_menu  li:last-child a{
	border-bottom: none;

}

.main-navigation ul > li,
.widget_nav_menu ul > li{

}

.main-navigation ul ul > li,
.widget_nav_menu ul ul > li
{
	margin: 0px;
}

.main-navigation li a:hover, .main-navigation li a:focus, .main-navigation li.current-menu-item > a, .main-navigation li.current_page_item > a,
.widget_nav_menu li a:hover, .widget_nav_menu li a:focus, .widget_nav_menu li.current-menu-item > a, .widget_nav_menu li.current_page_item > a
{
	color: #067670;
	text-decoration: none;
}

.main-navigation li ul,
.widget_nav_menu li ul
{
	margin-bottom: 5px;
}

.main-navigation ul a:hover,
.widget_nav_menu ul a:hover
{
	border-top: 0px;
}

.main-navigation li ul li a:focus, .main-navigation li ul li.current-menu-item > a,
.widget_nav_menu li ul li a:focus, .widget_nav_menu li ul li.current-menu-item > a
{
	border-top: none;
	border-bottom: none;
}

.main-navigation  ul  li ul,
.widget_nav_menu  ul  li ul
{
	margin-top: 6px;
	clear: both;
	float: none;
	max-width: 100%;
}
.main-navigation  ul  li ul a,
.widget_nav_menu  ul  li ul a
{
	border: none;
	padding: 6px 5px;
	font-size: 0.9em;
}

.main-navigation  ul  li ul li,
.widget_nav_menu  ul  li ul li
{
	position: relative;
}

.main-navigation  ul  li ul a:before,
.widget_nav_menu  ul  li ul a:before
{
	content: "";
	display: block;
	border: 4px solid;
	border-color: transparent transparent transparent #2C3E51;
	float: left;
	width: 0px;
	position: absolute;
	top: 0.65em;
	left: -2px;
}
.main-navigation  .sub-menu,
.widget_nav_menu  .sub-menu
{
	margin-bottom: 5px;
}

.main-navigation  .sub-menu a:hover,
.widget_nav_menu  .sub-menu a:hover
{
	border-top: 0px;
}



/**
Top Navigation: top_pages theme location
**/


.harmonux-top-menu {
	margin: 20px 0 0;
	padding: 0;
	float: left;

}
.harmonux-top-menu ul li,
.harmonux-top-menu li
{
 position: relative;

}
.harmonux-top-menu ul li a,
.harmonux-top-menu li a
{
	width: 100%;
	text-transform: uppercase;
	font-size: 12px;
	font-weight: bold;
}
.harmonux-top-menu ul li>a,
.harmonux-top-menu li>a{
   color: #fff;
	padding: 7px 17px;
}

@media only screen and (min-width: 760px) {
.harmonux-top-menu ul > li,
.harmonux-top-menu > li
{
	float: left;
	height: 45px
}
.harmonux-top-menu ul li>a,
.harmonux-top-menu li>a
{
	height: 45px;
	color: #fff;
	padding: 7px 17px;
	display: table-cell;
	vertical-align: middle;
}
.harmonux-top-menu ul li:hover >a,
.harmonux-top-menu li:hover >a
{

	color: #5bd2a0;
	transition: background 0.3s ease-out;
}

.harmonux-top-menu ul li ul,
.harmonux-top-menu li ul
{
	width: 150%;
	background:#2C3E51;
	padding-bottom: 5px;
	padding-top: 15px;
	position: absolute;
	margin: 0 -20px 5px 0;
	display: none;
	left: 0;

	z-index: 2;
}
.harmonux-top-menu ul li:hover>ul,
.harmonux-top-menu li:hover>ul
{
	display: block;

}

.harmonux-top-menu ul li:last-child a,
.harmonux-top-menu li:last-child a
{
	border-bottom: none;
}


.harmonux-top-menu ul ul  li,
ul.harmonux-top-menu ul li
{
	margin: 0px;
	width: 100%;
	height: auto;
}

.harmonux-top-menu ul li ul li a,
.harmonux-top-menu li ul li a
{
	border: none;
	box-shadow: none;
	padding: 9px 15px;
	height: auto;
	background: #5bd2a0;
	color: #fff;
	transition: background 0.3s ease-out;
	transition: color 0 ease-in;
	display: block;
	font-size: 0.75em;
}


.harmonux-top-menu ul li ul li a:hover, .harmonux-top-menu ul li ul li a:focus, .harmonux-top-menu ul li ul li.current-menu-item > a,
.harmonux-top-menu li ul li a:hover, .harmonux-top-menu li ul li a:focus, .harmonux-top-menu li ul li.current-menu-item > a
{
	color: #fff;
	text-decoration: none;
	-webkit-transition: color 0.1s ease-in;
	-moz-transition: color 0.1s ease-in;
	-o-transition: color 0.1s ease-in;
	transition: color 0.1s ease-in;
	background: #d9e5e1;
	color: #2C3E51;
	transition: background 0.3s ease-out;
	border-top: none;
	border-bottom: none;
}



.harmonux-top-menu ul a:hover,
.harmonux-top-menu a:hover
{
	border-top: 0px;
}

/*third level*/
.harmonux-top-menu ul li ul li ul,
.harmonux-top-menu li ul li ul
{
	left: 100%;
	top: 0;
	display: none;
}
.harmonux-top-menu ul li ul li:hover ul,
.harmonux-top-menu li ul li:hover ul
{
	display: block;
}


}
@media only screen and (max-width: 760px) {
.harmonux-top-menu ul li ul,
.harmonux-top-menu li ul{
    margin-left: 30px;
    font-size: 11px;
    width: auto;
}
    harmonux-top-menu ul li ul a, .harmonux-top-menu li ul a{
        padding: 3px 5px;
        text-transform: none;
    }
}
/*top navigation mobile*/

#top-navigation-mobile {
	margin: 10px 0px 0px 20px;
	float: left;
	width: 100%;
}

#top-navigation-mobile li {
	float: left;
	max-width: 120px;
}

#mobile-navigation {
	margin: 20px 0px 40px;

}

#mobile-navigation select, #mobile-navigation option {
	font-size: 1.11em;
}

/*-SECTIONS: CONTENT-*/
.entry-content{
	line-height: 1.6;
}
.entry-content h1,
.entry-content h2,
.entry-content h3,
.entry-content h4,
.entry-content h5,
.entry-content h6,
.archive-header {
	margin: 1.4em 0;
}

.entry-content a:visited {
	color: #c2c1c1;
}

.entry-content ul, .entry-content ol {
	margin: 10px 30px;
}

.entry-content table {
	max-width: 100%;
	width: 100%;
	table-layout: fixed;
	overflow: hidden;
}

.entry-content table td {
	word-wrap: break-word;

}


/*POST LOOP*/
.smartlib-grid-list{

}
.smartlib-post-box {
	position: relative;
	padding-bottom: 35px;
	clear: both;
  margin-bottom: 40px;
}

.smartlib-post-box:after {
	content: "";
	border-bottom: 1px solid #DFDFDF;
	display: block;
	margin-top: 15px;
	position: absolute;
	bottom: 0;
	width: 100%;
}

.smartlib-post-box .more-link {
	position: absolute;
	bottom: 15px;
	right: 0;
}
.smartlib-post-box .meta-publisher{
	position: absolute;
	bottom: 15px;
	left: 0;
}


/*FEATURED POST LOOP - frontpage slider*/
.smartlib-front-slider{

	background: #23bd90;
	margin-bottom: 30px;
	position: relative;
}

.smartlib-front-slider .smartlib-slider-image-column{
	padding-right: 0;
	min-height: 340px;
	overflow: hidden;
}
.smartlib-front-slider .slides{
	height: 350px;
	overflow: hidden;
}
.smartlib-front-slider .smartlib-slider-image-column img{
	display: block;
}
.smartlib-featured-post-box{
	float: left;
	padding: 15px 15px 15px 0;
	margin-bottom: 20px;
	color: #fff;
	position: relative;
	overflow: hidden;
	width: 100%;

}

.smartlib-featured-post-box-wide{
	width: 100%;
	height: 500px;
}
.smartlib-featured-post-box .sticky{
  float: left;
}
.smartlib-featured-post-box header{
  margin-top: 40px;
	padding: 0 15px 0px;
	color: #fff;
	z-index: 2;
	width: 100%;
	font-weight: normal;
	font-size: 23px;

}


.smartlib-featured-post-box .entry-title{
	font-size: 2em;
}
.smartlib-featured-post-box .entry-title a{
	color: #fff;
}
.smartlib-featured-post-box .meta-line{
	margin-bottom: 0;
	border-bottom: 1px solid #5fd0ba;
}
.smartlib-featured-post-box  .meta-label{
	color: #fff;
}
.smartlib-featured-post-box .meta-line .meta-date{
	border-right: 1px solid #5fd0ba;
}
.smartlib-featured-post-box .meta-publisher{
	position: absolute;
	top: 0px;
	right: 0px;
	z-index: 2;
	border-left: 1px solid #5fd0ba;
	border-bottom: 1px solid #5fd0ba;
	padding: 7px 15px;
	font-size: 11px;
}
.smartlib-featured-post-box .meta-publisher a{
	font-size: 13px;
}
/*home page slider navigation*/
.smartlib-front-slider .flex-direction-nav{
	top: auto;
	bottom: 0px;
	height: 40px;
  float: right;
}
.smartlib-front-slider .flex-direction-nav a{
	color: #fff;
	opacity: 1!important;
	padding-bottom: 5px;
}

.smartlib-front-slider .flex-direction-nav li{
	height: 40px;
}
.smartlib-front-slider .flex-direction-nav a.flex-next,
.smartlib-front-slider .flex-direction-nav a.flex-prev{
	height: 40px;
	border: 1px solid #5FD0BA;
	color: #62ddc7;
}
.smartlib-front-slider .flex-direction-nav a.flex-next:hover,
.smartlib-front-slider .flex-direction-nav a.flex-prev:hover{
	color: #fff;
}

.smartlib-front-slider .flex-direction-nav a.flex-next{
	right: 10px;
	border-right: none;
	border-bottom: none;
}
.smartlib-front-slider .flex-direction-nav a.flex-prev{
	left: 10px;
	border-right: none;
	border-bottom: none;
}
.smartlib-front-slider .flex-control-paging{
	left: 30px;
	bottom: 10px;
	right: auto;
	z-index: 200;
}
.smartlib-front-slider .flex-control-paging a{
	background: #fff!important;
	opacity: 1!important;
}
.smartlib-front-slider .flex-control-paging a.flex-active{
	background: #62DDC7!important;
}
.smartlib-featured-post-box .meta-publisher a{
	color: #fff;
}


.smartlib-featured-image-container img{
	width: 100%;
	height: auto;
}
/*category loop*/
.loop-2columns .post-box .entry-content .more-link{
 color: #fff;

}
.loop-2columns .entry-title{
	font-size: 2.0em;
}
.loop-2columns .meta-line{
	font-size: 12px;
}
.loop-2columns .meta-line span{
	padding: 0;
}
.loop-2columns .more-link{
	margin-top: 10px;
}
/*content blocks*/
.harmonux_pullquote {
	width: 35%;
	float: left;
	margin: 0px 25px 15px 0;
	border-left: 3px solid #2C3E51;
	padding-left: 15px;

}

.harmonux_pullquote p {
	font-size: 120%;
	font-style: normal;
	margin-bottom: 5px;
}

/*protected post*/
.password-form {
	width: 80%;
	margin: 20px auto;
	padding: 15px;
	background: #f1f0f0;
	border: 1px solid #D8D8D8;
}

.password-form .columns {
	margin-bottom: 20px;
}

/*--SECTIONS: CONTENT: Header--*/

.entry-title {
	margin: 0 0 0.5em 0;
  clear: both;
}
.entry-title a{
	color: #34496E;
	text-decoration: none;
}
.entry-title a:hover{
	color: #067670;
}
h3.entry-title{
	font-size: 2.4em;
}
/* custom headers*/
.archive-header{
	margin: 0 0 40px;
}
.archive-title {
	font-size: 1.3em;
	font-weight: normal;
	margin: 0px;
	color: #5bd2a0;
	background: #EBEFF1;
	padding: 20px 20px;
	text-align: center;

}

.archive-title span {
	font-weight: bold;
	margin: 0;
}

.edit-link {
	position: absolute;
	top: 10px;
	right: 0px;
	background: #F2F2F2;
	padding: 2px 5px;

}

.edit-link a {
	color: #404040;
}

.single .edit-link {
	top: -50px;
}

/*header social buttons*/

.smartlib-soical-widgets{
	margin-top: 40px;
	border-right:1px solid #EBEFF1;
}
.smartlib-soical-widgets .social-buttons{
	margin-bottom: 0;
}
.smartlib-soical-widgets li{
	margin-bottom: 10px;
}
/*facebook like fix*/
.smartlib-soical-widgets .fb-like span {
	overflow: visible !important;
	width: 445px !important;
	margin-right: 0px;
}
.smartlib-soical-widgets .pinterest-button{
	padding-top: 20px;
}
/*comments link*/
.smartlib-comments-link {
	float: left;
	position: relative;
	margin: 0px 0 15px;
	width: 100%;
}

.smartlib-comments-link a {
  max-width: 100%;
	display: block;
	background: #b4bbc2;
	color:#2C3E51;
	font-size: 12px;
	padding: 20px 3px 7px 3px;
	text-align: center;

}
.smartlib-comments-link i{
	position: absolute;
	top: 3px;
	left: 30px;
	color: #fff;
}
.smartlib-comments-link a:hover {
	text-decoration: none;
	background: #067670;

}

/*without image mod*/
.share-buttons-line .soical-widgets {
	width: 100%;
	margin-top: 5px;
}

.share-buttons-line .soical-widgets li {
	float: left;
	margin-right: 15px;
}

/*--SECTIONS: CONTENT: Meta--*/

.meta-line {
	width: 100%;

	font-size: 16px;
	border-bottom: 1px solid #EBEFF1;
	padding-bottom: 5px;
	margin-bottom: 5px;
}
.meta-line i{
	font-size: 16px;

}
.meta-line .meta-date,
.single .meta-line .smartlib-postformat-info{
	margin-right: 15px;
	padding-right: 15px;
	border-right: 1px solid #EBEFF1
}
.entry-date {
	font-size: 0.9em;
}
.single .entry-title,
.page .entry-title
{
	margin-top: 30px;
}
.single .entry-meta, .page .entry-meta {

	margin-top: 20px;
	clear: both;
}

.page .entry-meta {
	border-top: none;
}

.top-meta {
	clear: both;
	margin: 16px 0px 5px;
	padding: 10px 0px 5px;
	font-size: 0.8em;
	float: left;
	width: 100%;
}

.single .top-meta {
	margin-bottom: 16px;
	border-top: 1px solid #D8D8D8;
}

.home .post-box:first-child .top-meta {
	margin-top: 0;
	padding-top: 0;
}



/*category label*/
.smartlib-category-line{
	padding: 0;
  display: block;
	text-align: right;
	height: 30px;
	margin-bottom: 20px;
}

.smartlib-category-line a {

  background: #5bd2a0;
	color:  #fff;
	padding: 3px 7px;
	font-size: 12px;
	float: left;
	margin: 1px 0 0 1px;
  line-height: 1.6;
}
.smartlib-category-line a:hover{
	background-color: #3fb4ab;
}
.smartlib-category-line a:hover {
	text-decoration: none;
}

/*tag area*/
.smartlib-tags-article {
  padding-top: 15px;
	font-size: 1em;
	line-height: 1.5;
	clear: both;
	border-right: 1px solid #EBEFF1;
	border-top: 1px solid #EBEFF1;
}

.smartlib-tags-article a {
  display: block;
	border-bottom: 1px solid #EBEFF1;
	padding: 2px 9px 2px 3px;
  text-align: right;
	color: #5bd2a0;
	font-size: 0.76em;
	position: relative;
}
.smartlib-tags-article a:after{
	display: block;
	content: '';
	background: #acb6c0;
	border-radius: 50%;
	width: 8px;
	height: 8px;
	position: absolute;
	top: 40%;
	right: -5px;
}

/*--SECTIONS: CONTENT: Images--*/

.image-info {
	font-size: 11px;
}

.smartlib-single-image-container {
	position: relative;
	margin-bottom: 30px;
}
.smartlib-single-image-container img{
	width: 100%;
	height: auto;
}


.gallery-caption {
	margin: 5px 0px;
	font-size: 11px;
}

.smartlib-thumbnail-outer {
	float: left;
	margin: 20px 0 50px 0px;
	position: relative;
	font-size: 30px;
	max-width: 100%;

}
.smartlib-thumbnail-outer > a{
	overflow: hidden;
	display: block;
}
.smartlib-thumbnail-caption{
	background-color: rgba(0,0,0,0.6);
	position: absolute;
	color: #fff;
	z-index: 100;
	-webkit-transition: all 300ms ease-out;
	-moz-transition: all 300ms ease-out;
	-o-transition: all 300ms ease-out;
	-ms-transition: all 300ms ease-out;
	transition: all 300ms ease-out;
	left: 0;
	top: 100%;
	bottom: 0;
  width: 100%;
	text-align: center;
	line-height: 100%;
	height: 0;
	overflow: hidden;
}
.smartlib-thumbnail-outer .smartlib-caption-link{
	border: 1px solid #fff;
	padding: 5px 35px 5px 15px;
	display: inline-block;
	color: #fff;
	font-weight: normal;
  font-size: 17px;
	-webkit-transition: all 300ms ease-out;
	-moz-transition: all 300ms ease-out;
	-o-transition: all 300ms ease-out;
	-ms-transition: all 300ms ease-out;
	transition: all 300ms ease-out;
	margin-top: 120px;
	position: relative;
}
.smartlib-thumbnail-outer .smartlib-caption-link i{
	position: absolute;
	top: 12px;
	right: 12px;
}
.smartlib-thumbnail-outer .smartlib-caption-link:hover{
	text-decoration: none;
	border: 1px solid #3FB4AB;
	color: #3FB4AB;
}
.smartlib-thumbnail-outer:hover .smartlib-thumbnail-caption{
	top: 0;
	height: auto;
	right: 0;
}

.smartlib-thumbnail-outer img {
	min-width: 100%;
	height: auto;
	display: block;
	-webkit-transition: all 300ms ease-out;
	-moz-transition: all 300ms ease-out;
	-o-transition: all 300ms ease-out;
	-ms-transition: all 300ms ease-out;
	transition: all 300ms ease-out;
}
.smartlib-thumbnail-outer:hover img{
	-moz-transform: scale(1.4);
	-o-transform: scale(1.4);
	-webkit-transform: scale(1.4);
	transform: scale(1.4);
}

.smartlib-format-ico{
	display: block;
	position: absolute;
	top: 0;
	right: 0;
	width: 40px;
	height: 40px;
	color: #fff;
	font-size: 20px;
	text-align: center;
	line-height: 40px;
	background: #2C3E51;
	border-left: 1px solid #fff;
	border-bottom: 1px solid #fff;

}
.entry-header{
	overflow: hidden;
}
.entry-header .smartlib-thumbnail-outer .smartlib-category-line{
	position: absolute;
	bottom: -30px;
	height: 30px;
	right: 0;
	margin: 0;
	padding: 0;
	line-height: 1;
}


.entry-header .smartlib-category-line{
	float: right;
	margin: 5px 0 10px;
	position: relative;
	z-index: 100;
}



/*---Sections : CONTENT : Post Footer: Pagination---*/
#nav-below {
	margin-top: 20px;
}
/* Pagination - foundation mod */
#post-pagination {
	clear: both;
	margin: 40px 20px;
}

ul.pagination {
	display: block;
	height: 24px;
	margin-left: -5px;
}

ul.pagination li {
	float: left;
}

ul.pagination li a {
	padding: 3px 12px 3px;

}

ul.pagination li:hover a, ul.pagination li a:focus {
	background: #e6e6e6;
	text-decoration: none;
}

ul.pagination .current {
	background: #34496E;
	color: #fff;
	font-weight: bold;
	cursor: default;
	display: block;
	padding: 3px 12px 3px;
}

ul.pagination .current:hover, ul.pagination li .current {
	background: #2C3E51;

}

/*next=prev post*/
.nav-single {
	margin: 20px 0px 20px;
}

/*---Sections : CONTENT : Post Footer: Author Bio---*/

/*author bottom box */

.bypostauthor {
	font-size: inherit;
}

.author-info {
	background: #f1f0f0;
	padding: 20px 20px 20px;
	margin: 40px 0px 60px;

}
.single .author-info{
	padding-bottom: 0;
}
.author-info h4 {
	color: #385A72;
}

.author-avatar {
	float: left;
	margin: 0px 15px 15px 0px;
}

.author-avatar img {
	max-width: 150px;
	height: auto;
}

.author-description h2 {
	margin-top: 0;
}

#content .author-description p {
	font-size: 0.813em;
	margin-bottom: 25px;
}

.author-description {
	padding-bottom: 5px;
}

.author-link {
	text-align: right;
	font-size: 0.813em;
	padding: 5px 0 10px 0;
}

/*author social links*/
.inline-list.user-profiles {
	margin-bottom: 5px;
}

.user-profiles a {
	display: block;
	text-decoration: none;
	font-size: 32px;
  color: #34495f;
}
.user-profiles a i{
	color: #34495f;
}
.user-profiles a:hover i{
	color: #3fb4ab
}
.user-profiles a span:before {
	color: #bfbfbf;
	padding: 0px;
	font-size: 20px;
	padding: 3px;
}

.user-profiles a:hover span:before {
	color: #6491A1;
}

/*Next - prev post*/
.smartlib-single-next-prev{
	text-align: left;
	margin-left: 120px;
}
/*---Sections : CONTENT : Post Footer: Related post---*/


/*RELATED POSTS LIST*/
.smartlib-related-posts{
	position: relative;
	margin-top: 40px;
}
.smartlib-related-posts h3 {
	border-bottom: 1px solid #DFDFDF;
	border-top: 1px solid #DFDFDF;
	padding: 10px 0;
	margin-bottom: 15px;
}
.smartlib-related-posts .meta-line{
	font-size: 0.7em;
  overflow: hidden;
}


.smartlib-related-posts .meta-line span, .smartlib-related-posts .meta-line a{
	clear: both;
	float: left;
}
.smartlib-related-posts span.smartlib-postformat-info{
margin-top: 5px;
	float: left;

}
.smartlib-related-posts .smartlib-slides {
	list-style: none;
	width: 100%;
	padding: 0;
	margin: 0
}

.smartlib-related-posts .smartlib-thumbnail-outer {
	height: 100px;
	overflow: hidden;
	margin-bottom: 20px;
}

.smartlib-related-posts .columns:last-child {
	float: left;
}

.smartlib-related-posts .flex-direction-nav{
	top: 5px;
}

/*related post - slide component*/
.flex-direction-nav{
	padding: 0;
	right: 0px;
  height: 30px;
	position: absolute;
	z-index: 200;
	margin-top: 0;
}
.flex-direction-nav li{
	float: left;
	height: 30px;
}
.flex-direction-nav a {
	height: 30px;
	width: 30px;
	position: static;
	display: block;
	margin: 0;
}
.flex-direction-nav a:hover{
	text-decoration: none;
}
.flex-direction-nav a.flex-prev, .flex-direction-nav a.flex-next {
	opacity: 0.1;
	font-size: 20px;
  text-indent: -3000px;
	overflow: hidden;
  display: block;
	text-align: center;
}


.flex-direction-nav a.flex-next:before, .flex-direction-nav a.flex-prev:before{
	content: "\f105";
	display: block;
	font-family: FontAwesome;
	font-size: 25px;
	text-indent: 0;
}
.flex-direction-nav a.flex-prev:before{
	content: "\f104";

}

.flex-direction-nav .flex-prev:hover, .flex-direction-nav .flex-next:hover {
	opacity: 1;
}

.flex-control-nav {
	bottom: -20px;
	right: 20px;
	width: auto;
	float: right;

}

/*--SECTIONS: Content: Post Formats --*/



/*aside post*/
.format-aside {
	padding: 15px;
	background: #F2F2F2;
	border-left: 4px solid #D8D8D8;
	margin-bottom: 1em;
}

.format-aside .entry-title a {
	color: #6491A1;
}

.format-aside .meta-line {
	margin: 5px 0px;
}

/*video post*/
.social-and-video-container {
	position: relative;
	padding: 0 0 0 65px;
	margin-bottom: 30px;
}

.social-and-video-container .comments-link {
	bottom: 0;
}

.video-outer {
	position: relative;
	padding-bottom: 56.25%;
	padding-top: 30px;
	height: 0;
	overflow: hidden;
	margin: 25px 0;
}

.video-outer * {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;

}

.video-outer p {
	position: absolute;
	top: 0px;
	height: auto;
	background: #fff;
	opacity: 0.6;
	font-size: 11px;
	padding: 1px 10px;
}

.video-outer p a {
	position: relative;
	font-size: 12px;
}

/*map post*/
.map-area {
	margin-bottom: 25px;
}

/*-SECTIONS: Comments-*/

/*comments*/
.comments-area {
	border-top: 1px solid #dfdfdf;
	margin-top: 30px;
	padding-top: 20px;

}
.smartlib-comments-title{
	border-bottom: 5px solid #d4e3df;
}
.smartlib-comments-title span{
	background: #2C3E51;
	color: #fff;
	padding: 5px 15px;
	display: inline-block;
}
.comments-area .form-allowed-tags {
	font-size: 0.7em;
}

.commentlist {
	list-style: none;
	padding: 0px;
	margin: 0px;
}

.commentlist li.comment {
	clear: both;
	padding: 8px 8px 11px;
	color: #003455;
	background: #FFFFFF;
}

.commentlist .comment-content {
	font-size: 0.89em;
}

.commentlist li.comment.odd {
	background: #fbfbfb;
}

.commentlist li.comment .fn {
	color: #404040;
}

.commentlist li.comment img {
	float: left;
	margin: 0px 10px 10px 0px;
}

.commentlist li.comment header time {
	float: right;
}

.commentlist li.comment cite {
	font-style: normal;
	font-size: 1.1em;
}

.commentlist li.comment header  cite a {
	color: #2C3E51;
}

.commentlist li.comment header a {
	color: #c2c1c1;
}

.commentlist .children {
	list-style: none;
	margin-left: 25px;
}


.comment-awaiting-moderation {
	font-weight: bold;
}

.commentlist li .smartlib-comments-replay-button {
	clear: both;
	margin-bottom: 10px;
	height: 15px;
	border-top: 1px solid #d4e3df;
	padding-top: 2px;
}

.commentlist li .comment-reply-link {
	display: block;
	padding: 5px 15px;
	background: #067670;
	line-height: 1.2;
	float: right;
	color: #fff;
	font-size: 12px;
}
.commentlist li .comment-reply-link:hover{
	background: #2C3E51;
	text-decoration: none;
}
.commentlist li .edit-link {
	top: auto;
	right: auto;
	bottom: 0px;
	left: 0px;
}

#respond form{
	clear: both;
}



/*--SECTIONS: SIDEBAR: Widgets--*/

/*widget area grid mod*/
.widget-area.medium-block-grid-2 .widget{
	padding-left: 0;
}
/*widget area*/
.widget-area{
	list-style: none;
	padding: 0;
	margin: 0;
}

.smartlib-under-menu-widget-area{
	margin-top: 40px;
}
.widget{
	margin-bottom: 10px;
}

.widget ul, .widget p {
	font-size: 13px;
}

.widget ul {
	list-style: none;
	margin: 0;
}

.widget ul li{
	border-bottom: 1px solid #d9e5e1;
	padding: 10px 10px;
	font-size: 14px;
}
.widget .smartlib-thumbnail-outer{
	height: 100px;
	overflow: hidden;
}
.widget-area .widget{
	padding-bottom: 15px;

}

.widget-area .widget-title,
.comment-reply-title{
	font-size: 26px;
	padding: 9px 10px 9px 0;
	position: relative;
	z-index: 1;
	margin: 0 0 15px 0;
	border-bottom: 1px solid #e0e4e6;
	color: #5bd2a0
}
.widget-area .widget-title:after,
.comment-reply-title:after{
	content: '';
	display: block;
	width: 50px;
	position: absolute;
	right: 0;
	bottom: -1px;
	border-bottom: 1px solid #5bd2a0;
}



.widget-area li {
	line-height: 1.2;
	margin-bottom: 5px;
}

.widget-area li a {
	line-height: 1.2;
}

.smartlib-widget-image-outer {
	float: left;
	margin: 0px 0px 1px 0px;
}

.widget-post-title {
	font-weight: bold;
	display: block;
	font-size: 1em;
	color: #404040;
}

.widget-post-excerpt {
	font-size: 0.9em;

}

.post-author-widtget {
	float: right;
}

.widget .smartlib-thumbnail-outer.format-ico  a:after {
	bottom: 20px;
}

.widget .smartlib-thumbnail-outer {
	margin: 0;

}
/*Right sidebars*/
.widget-area .widget{
	clear: both;
}
/*DEFAULT WIDGETS MODYFICATIONS*/

/*pages*/

.widget_pages ul{
	padding-left: 20px;
}
.widget_pages ul li{
	border-bottom: none;
	padding: 3px 0;
	margin: 0;
	list-style: square;
}
.widget_pages ul li ul{
	padding: 3px 0 0px 15px;
	margin: 0;
}
.widget_pages ul li ul li{
	list-style: disc;
	font-size: 0.9em;
}

/*custom menu widget*/
.widget_nav_menu ul li{
  padding: 0;
	margin: 0;
	border-bottom: none;
}
.widget_nav_menu ul li ul{
	margin-left: 20px;
}
/*widget recent post*/

.harmonux_widget_recent_entries .widget-post-title {
	line-height: 1.4;
  margin-top: 10px;
	font-size: 1.2em;
}

.harmonux_widget_recent_entries .smartlib-widget-image-outer{
	width: 35%;
}
.harmonux_widget_recent_entries ul {
	padding: 0px;
	margin: 0px
}
.harmonux_widget_recent_entries .meta-publisher{
	font-size: 12px;
	clear: both;
	float: none;
	margin: 0 0 7px 0;
	display: block;
	color: #8FA5B7;
}
.harmonux_widget_recent_entries .meta-publisher a{
	color: #5bd2a0;
}
.harmonux_widget_recent_entries ul li {
	clear: both;
	padding: 0;
	margin-bottom: 15px;
	border-bottom: none;
}

.harmonux_widget_recent_entries li:before {
	content: ""
}

.harmonux_widget_recent_entries li img {
	float: left;
	margin: 0 15px 10px 0;
}

.harmonux_widget_recent_entries .smartlib-widget-header{
	float: left;
	width: 65%;
}
.harmonux_widget_recent_entries .smartlib-widget-header h5{
	margin: 0;
}
.harmonux_widget_recent_entries p.meta-line{
	clear: both;
	padding-top: 12px;
	color: #8FA5B7;
}
.harmonux_widget_recent_entries p.meta-line a{
	color: #8FA5B7;
}
/*widget calendar*/
#wp-calendar {

}
#wp-calendar td, #wp-calendar th{
	padding: 3px;
	text-align: center;
}


/*widget search*/
#searchform-content .search-content-input {
	width: 68%;
	float: left;
}

#searchform-content .searchsubmit-content {
	width: 30%;
	float: left;
	padding: 7px 9px;
}

/*tag cloud*/

.tagcloud a {
	color: #404040;
}

/*widget large-1 author*/
.one_author_smartlib .description-widget {
	font-style: normal;
}

/*--SECTIONS: SIDEBAR: Pro Widgets--*/

/*Social icon widget*/
.widget .smartlib-social-buttons-list {
	width: 100%;
	margin: 0 0 15px 0;
	float: left;
}

.widget .smartlib-social-buttons-list li {
	float: left;
	margin: 0;
  padding: 0;
	width: 20%;
}

.widget .smartlib-social-buttons-list li a {
	height: 62px;
	display: block;
	text-align: center;
	vertical-align: middle;
	text-decoration: none;
	font-size: 22px;
	background: #BFBFBF;
	color: #fff;
	padding: 0;
	line-height: 62px;
	margin-right: 1px;
}
.widget .smartlib-social-buttons-list li.harmonux_social_facebook a{
	background: #095ba0;
}
.widget .smartlib-social-buttons-list li.harmonux_social_twitter a{
	background: #1d97d0;
}
.widget .smartlib-social-buttons-list li.harmonux_social_youtube a{
	background: #f29c1c;
}
.widget .smartlib-social-buttons-list li.harmonux_social_pinterest a{
	background: #cd2129;
}
.widget .smartlib-social-buttons-list .harmonux_social_linkedin a{
	background: #c04560;
}

.widget .smartlib-social-buttons-list li a:hover {
	background: #6491A1;
	-webkit-transition: background 0.5s linear;
	-moz-transition: background 0.5s linear;
	-o-transition: background 0.5s linear;
	transition: background 0.5s linear;
}

.widget .smartlib-social-buttons-list li:before {
	content: "";
	display: none;
}
/* Recent gallery widget*/
.harmonux_gallery_recent_widget .small-block-grid-2 li{
	padding: 0 1px 0 0;
	border-bottom: 0;
}
.harmonux_gallery_recent_widget .smartlib-thumbnail-outer {
	width: 100%;
}

.harmonux_gallery_recent_widget.smartlib-thumbnail-outer img {
	min-width: 100%;
	height: auto;
}
.harmonux_gallery_recent_widget li{
	margin-bottom: 1px;
}

/*Recent videos widget*/
.smartlib-video_widget .small-block-grid-2 li{
	padding: 0 1px 0 0;
	border-bottom: 0;
}
.smartlib-video_widget .smartlib-thumbnail-outer {
	width: 100%;

}

.smartlib-video_widget .columns:last-child {
	float: left;
}

.smartlib-video_widget .smartlib-thumbnail-outer img {
	min-width: 100%;
	height: auto;
}
.smartlib-video_widget li{
	margin-bottom: 1px;
}




/*FOOTER SECTIONS*/
.main-footer a {
	color: #fff;
}

.main-footer a:hover {
	color: #fff;
}

.main-footer .row {
	margin-top: 15px;
}

.main-footer table {
	background: none;

}

.main-footer table tbody tr,
.main-footer table tfoot,
.main-footer table tfoot,
.main-footer table thead {
	background: none;
}

.main-footer table th {
	color: #fff;
}

.main-footer table tbody td {
	color: #fff;
}

.main-footer table a {
	font-weight: bold;
}

/* Footer Sidebar */

.footer-navigation ul {
	list-style: none;
	float: right;
}

.footer-navigation ul li {
	float: left;
	margin: 4px 10px;
	position: relative;
	max-width: 150px;
	font-size: 12px;

}

.footer-navigation .children {
	margin: 0px 5px 0px;
	list-style: square;
}

.footer-navigation .children li {
	clear: both;
	font-size: 0.750em;
	color: #c2c1c1;
}

.footer-navigation .children li a {
	color: #D8D8D8;
}

/*footer widgets*/
.smartlib-footer-widget-area .widget {
	min-height: 320px;
	position: relative;
	padding-bottom: 15px;
	margin-bottom: 15px;
}

.smartlib-footer-widget-area .widget hr {
	border: 0px;
	position: absolute;
	bottom: 0;
	left: 15px;
	right: 15px;
	margin: 0;
}

.smartlib-footer-widget-area .widget-title {

}

.smartlib-footer-widget-area .widget-title em {
	font-style: normal;
	padding: 5px 10px 7px 0px;
  color: #5bd2a0;
	display: inline-block;
	font-weight: normal;
}

.smartlib-footer-widget-area table,
.smartlib-footer-widget-area table th,
.smartlib-footer-widget-area table td {
	background-color: transparent;

}

.smartlib-footer-widget-area li.widget {
	padding: 15px 20px;
}

.smartlib-footer-widget-area h3 {
	color: #D8D8D8;
}

.smartlib-footer-widget-area .widget-post-title {
	color: #c2c1c1;
}
.smartlib-footer-widget-area .widget .meta-line a{
	color: #fff;
}

.smartlib-footer-widget-area .no-bullet {
	margin: 0px;
}

.smartlib-footer-widget-area .no-bullet li {

	clear: both;
}



/*footer widget calendar*/
.smartlib-footer-widget-area #wp-calendar {
	margin: 0px;
}

.smartlib-footer-widget-area #wp-calendar caption {

	color: #fff;
}

.smartlib-footer-widget-area #wp-calendar td, .smartlib-footer-widget-area #wp-calendar th {
	padding: 1px 2px;
}

.smartlib-footer-widget-area #wp-calendar {
	border: none;
}

.smartlib-footer-widget-area #wp-calendar thead th {
	border-bottom: 3px solid #4A4A4A;

}

.smartlib-footer-widget-area #wp-calendar tfoot {

}

/*footer large-1 author*/
.smartlib-footer-widget-area .description-widget {
	color: #fff;
}

/*footer recent posts*/
.smartlib-footer-widget-area .harmonux_widget_recent_entries .smartlib-widget-image-outer {
	margin: 15px 0px 0px 0px
}

.smartlib-footer-widget-area .harmonux_widget_recent_entries .smartlib-widget-image-outer img {
	margin-bottom: 0px;
}
.smartlib-footer-widget-area .harmonux_widget_recent_entries li:last-child{
	border: none;
}
/*footer social icons*/
.smartlib-footer-widget-area .smartlib-social-buttons-list li{
	width: 30px;
	height: 30px;
	font-size: 17px;
	margin: 3px;
	border: none;

}
.smartlib-footer-widget-area .smartlib-social-buttons-list li:first-child{
	margin-left: 0;
}

.smartlib-footer-widget-area .smartlib-social-buttons-list li a{
	height: 30px;
	line-height: 30px;
	font-size: 17px;
	border: none;
}
/* -----------------------------------------
 PAGES
----------------------------------------- */
/*home page*/
.site-description {
	margin: 40px 0 0 0;
  font-size: 35px;
}

@media only screen and (max-width: 1326px) {
	#sidebar .widget-title {
		margin-right: auto;
	}

	#sidebar .widget-title:before {
		display: none;
	}

	#sidebar .widget-title:after {
		display: none;
	}

}

/* -----------------------------------------
 Media QUERY MOD
----------------------------------------- */


@media only screen and (max-width: 1024px) {

	.comments-link, .social-and-video-container .comments-link {
		left: auto;
		right: 0px;
		bottom: 50px;
		width: 50px;
	}
	.smartlib-footer-widget-area .widget{
		min-height: 0;
	}
  /*widget calendar*/
	#wp-calendar td, #wp-calendar th{
		padding: 0;
	}

}

@media only screen and (max-width: 768px) {
	/*general classes*/
	button.button, input[type="submit"].button {
		padding: 6px 12px;
	}

	.top-bar.smartlib-fixed-top-bar {
		position: relative;
	}


	/*sticky post*/
	.smartlib-featured-post-box{
		width: 100%;
		clear: both;
	}


	.post-box.columns.large-8 {
		float: left;
		width: 50% !important;
	}

	.flex-direction-nav a {
		display: block;
	}



	/*gallery widget*/
	.recent-gallery-box-container .columns.large-8 {
		float: left;
	}

	/*content*/
	.entry-content table {
		table-layout: auto;
		margin-top: 0;
	}


	/*Recent galleries*/

	.recent-gallery-box-container .columns.large-8 {
		width: 50% !important;
	}

	.recent-gallery-box-container .gallerypost-ico {
		width: 100%;
	}

	/*Recent videos*/
	.recent-videos-box-container .columns.large-8 {
		width: 50% !important;
		float: left;
	}

	/*Recent posts*/
	.smartlib-footer-widget-area  .harmonux_widget_recent_entries .smartlib-widget-image-outer{
		margin-bottom: 10px;
	}

	/*footer widget area*/

	.smartlib-footer-widget-area #wp-calendar td, .smartlib-footer-widget-area #wp-calendar th {
		padding: 5px 7px;
	}

	.smartlib-footer-widget-area .widget {
		min-height: 0;
	}

	.smartlib-footer-widget-area .widget hr {
		display: none;
	}

}


@media only screen and (max-width: 640px) {
   .harmonux-top-menu li{
	  clear: both;
  }
	.harmonux-top-menu ul > li{
		height: auto;
	}

	.harmonux-top-menu ul li ul li a{
		background: none;
	}
	.harmonux-top-menu ul li:hover >a{
		background: none;
		color: #fff;
	}
	.harmonux-top-menu ul li a:hover{

		color: #5bd2a0;
	}

	.harmonux-top-menu ul li ul{
		display: block;
		position: static;
		background: none;
		border: none;
		margin-left: 30px;
		max-width: 100%;
	}
	/*third level*/
	.harmonux-top-menu ul li ul li ul{
		display: block;
	}


	/*social buttons*/
	.smartlib-soical-widgets{
		margin-top: 0;
	}
	.smartlib-soical-widgets li{
		float: left;
		clear: none;
		margin: 0 10px 0 0;
		width: 70px;
	}
	.smartlib-soical-widgets .fb-like{
		width: 60px;
	}
	.smartlib-soical-widgets .fb-like span {
		overflow: visible !important;
		width: 70px!important;
	}

	.smartlib-soical-widgets .pinterest-button{
		padding-top: 40px;
	}
	.smartlib-comments-link{
		margin-top: 20px;
	}
	.smartlib-tags-article{
		float: left;
		clear: both;
		margin-top: 10px;
	}

	/*RELATED POST*/
	.smartlib-slider-container{
		width: 90%;
	}
  .smartlib-related-posts	.smartlib-thumbnail-outer{
		margin-right: 25px;
	}

	#toggle-search form{
		max-width: 100%;
	}

    .smartlib-site-logo{
        font-size: 20px;
        line-height: 1;
    }

}


@media only screen and (max-width: 500px) {
	.post-box.columns.large-8 {
		float: none;
		width: 100% !important;
	}

	.smartlib-soical-widgets .fb-like span {
		overflow: visible !important;
		width: 80px !important;
		margin-right: 0px;
	}
}

@media only screen and (max-width: 810px) {
	h2 {
		font-size: 1.7em;
	}

	.frontpage-header {
		margin-right: 0px;
	}





	.meta-publisher {
		float: none;
		clear: both;
		margin: 15px 15px 10px 0;
		padding: 5px 15px 0px 0px;
	  max-width: 60%;
	}

	.header-banner {
		height: auto;
	}

	/*widget mods*/
	.social-buttons-list {
		width: 100%;

	}

	.social-buttons-list li {
		width: 32.55%;

	}

	.social-buttons-list li a {
		display: block;
		width: 100%;
		line-height: 63px;
	}
}

@media only screen and (max-width: 420px) {

	/*wordpress clasess*/
	.wp-caption {
		width: 100% !important;
	}

	.smartlib-site-logo {

		float: left;

		width: 100% !important;

	}
	
	.harmonux-toggle-topbar.toggle-button.button{
	    padding-right: 0;
	}
    .smartlib-smaller-topbar .smartlib-logo-header a{
       height: auto;
        font-size: 15px;
        text-align: center;
    }
	#top-bar .mobile-large-1 {
		width: 100% !important;
		background: #A10518 !important;

	}

	#top-bar .mobile-large-3 {
		clear: both;
		width: 100% !important;

	}

	.header-banner {
		margin-top: 40px;
	}
}

/* -----------------------------------------
 IE MOD
----------------------------------------- */

/* Assistive text */
.lt-ie9 .assistive-text,
.lt-ie9 .site .screen-reader-text {
	text-indent: -3000px;
	overflow: hidden;

}

.lt-ie9 .top-bar ul li a.button {
	margin-top: 0px;
}

/*widgets*/
.lt-ie9 .harmonux_widget_recent_entries .widget-post-excerpt {
	line-height: 1.3;
}

/*post content */
.lt-ie9 .tags-article {
	clear: both;
	width: 500px !important;
}

.lt-ie9 .smartlib-thumbnail-outer{
	width: 266px;
}
.lt-ie9 .author-avatar{
	width: 200px;
}
.lt-ie9 #sidebar .widget-title:before, .lt-ie9 #sidebar .widget-title:after{
display: none;
}

/*recent video widget*/
.lt-ie9 .recent-videos-box-container .smartlib-thumbnail-outer{
	width: 130px;
}
.lt-ie9 .smartlib-widget-image-outer img{
	width: auto;
}

/*large-1 authot widget*/
.one_author_smartlib .smartlib-widget-image-outer{
	max-width: 96px;
}

/*Fix for Google  Maps MOD*/
.map-area {
	max-width: 100%;
}

.map-area *, .map-area *:before, .map-area *:after {
	-moz-box-sizing: content-box !important;
	-webkit-box-sizing: content-box !important;
	box-sizing: content-box !important;
}

.map-area img {
	max-width: none;
}

.map-area label {
	width: auto;
	display: inline;
}

/* -----------------------------------------
 PLUGIN CUSTOMIZATION
----------------------------------------- */
.pinterest-pinit{
	margin-top: 30px;

}
.smartlib-soical-widgets .social-buttons{
	margin-left: 3px;
}
.pinterest-pinit a{
	width: 60px!important;
}
