/*
 * Customizer CSS
 *
 * Adjusts styling for theme option controls in the Customizer
 *
 * @package WorldStar
 */

.customize-control-checkbox {
	margin-bottom: 4px;
}

#customize-control-worldstar_theme_options-site_description {
	margin-bottom: 16px;
}

#customize-control-worldstar_theme_options-post_layout_archives,
#customize-control-worldstar_theme_options-post_layout_single,
#customize-control-worldstar_theme_options-latest_posts_title,
#customize-control-worldstar_theme_options-post_content,
#customize-control-worldstar_theme_options-single_posts_headline,
#customize-control-worldstar_theme_options-postmeta_headline,
#customize-control-worldstar_theme_options-footermeta_headline,
#customize-control-worldstar_theme_options-featured_category {
	margin-top: 16px;
}

#customize-control-worldstar_theme_options-sticky_nav_headline,
#customize-control-worldstar_theme_options-single_posts_headline,
#customize-control-worldstar_theme_options-postmeta_headline,
#customize-control-worldstar_theme_options-footermeta_headline,
#customize-control-worldstar_theme_options-post_image_single_header,
#customize-control-worldstar_theme_options-featured_activate {
	margin-bottom: 0;
}

#customize-control-worldstar_theme_options-upgrade div {
	margin: 4px 0 32px;
}
#customize-control-worldstar_theme_options-upgrade div .customize-control-title {
	margin-bottom: 4px;
}

#customize-theme-controls [id$=accordion-panel-worldstar_options_panel] .customize-info .customize-help-toggle {
	top: 24px;
	right: 4px;
}

#customize-theme-controls [id$=accordion-panel-worldstar_options_panel] .customize-info .customize-help-toggle::before {
	content: "\f333";
	color: #a0a5aa;
	font-size: 28px;
	padding: 0;
	left: 0;
	top: 0;
}

#customize-theme-controls [id$=accordion-panel-worldstar_options_panel] .customize-info .customize-help-toggle[aria-expanded="true"]::before {
	content: "\f335";
}

#customize-theme-controls [id$=accordion-panel-worldstar_options_panel] .customize-info .customize-help-toggle:hover::before {
	color: #72777c;
}

#customize-theme-controls [id$=accordion-panel-worldstar_options_panel] .customize-info .customize-help-toggle:focus::before {
	box-shadow: none;
}
